python-decouple
git+https://github.com/pyrogram/pyrogram@master
cryptg
gitpython
asyncio
python-dotenv
tgcrypto

heroku3
pymongo[srv]
pytz


googletrans
gtts
aiohttp
aiofiles
pillow

pytube
pillow
spotipy
python-dotenv
py-tgcalls==0.8.2
youtube-search-python
git+https://github.com/LEGEND-AI/downloader




